
@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');

* {
    box-sizing: border-box;
}
body{
    background-color: burlywood;
    background-image: linear-gradient(315deg, burlywood 0%, white 74%);
    font-family: 'Benne', serif;
    margin: 0;
}